/*CSS template for the output of the xml2html template
Created by Aaron D'Sa for Cambridge Medicine Journal
http://www.cambridgemedicine.org
*/

table.front-journal
	{ 
	}

table.front-article
	{
	}

div.article-title
	{
	font-weight: 2em; 
	colour: #006666
	}

div.subtitle
	{
	font-weight: 1.5em;
	colour: #006666;
	}


div.table-of-contents-title
	{
	font-weight: 1.5em;
	colour: #000000;
	}

div.subheading
	{
	width: 100%;
	background-colour: #D14836;
	font-weight: 1.2em;
	colour: #ffffff
	}

div.xref
	{
	text-decoration:none;
	colour: #D14836;
	}

table.figure
	{
	width:100%;
	background-colour: #C0C0C0;
	}

table.table
	{
	width:100%;
	background-colour: #C0C0C0;
	}

