table.front-journal
	{ 
	}

table.front-article
	{
	}

div.article-title
	{
	font-weight: 2em; 
	colour: #006666
	}

div.subtitle
	{
	font-weight: 1.5em;
	colour: #006666;
	}


div.table-of-contents-title
	{
	font-weight: 1.5em;
	colour: #006666;
	}





